In [5]:
import warnings
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from IPython.display import display, HTML
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('used car.csv')
df

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,None reported,Yes,"$349,950"
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,None reported,Yes,"$53,900"
4006,Porsche,Taycan,2022,"2,116 mi.",NaN,Electric,Automatic,Black,Black,None reported,NaN,"$90,998"
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,None reported,Yes,"$62,999"
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,At least 1 accident or damage reported,Yes,"$40,000"

In [6]:
display(HTML(df.isnull().sum().to_frame().to_html()))

In [7]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          3309
Hybrid             194
E85 Flex Fuel      139
Diesel             116
–                   45
Plug-In Hybrid      34
not supported        2
Name: count, dtype: int64

In [8]:
df['fuel_type'] = df['fuel_type'].replace(['–', 'not supported'], None)

df['fuel_type'] = df['fuel_type'].fillna(df['fuel_type'].mode()[0])

In [9]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          3526
Hybrid             194
E85 Flex Fuel      139
Diesel             116
Plug-In Hybrid      34
Name: count, dtype: int64

In [10]:
display(HTML(df.isnull().sum().to_frame().to_html()))

In [11]:
df['accident'].value_counts()

accident
None reported                             2910
At least 1 accident or damage reported     986
Name: count, dtype: int64

In [12]:
df['accident'] = df['accident'].replace({'None reported': 0, 'At least 1 accident or damage reported': 1})
df['accident'] = df['accident'].fillna(-1)  # If using "Unknown"

In [13]:
df['accident'].value_counts()

accident
 0.0    2910
 1.0     986
-1.0     113
Name: count, dtype: int64

In [14]:
display(HTML(df.isnull().sum().to_frame().to_html()))

In [15]:
df['clean_title'].value_counts()

clean_title
Yes    3413
Name: count, dtype: int64

In [22]:
df['clean_title'] = df['clean_title'].replace({'Yes': 1}).fillna(0)

In [23]:
df['clean_title'].value_counts()

clean_title
1    3413
0     596
Name: count, dtype: int64

In [24]:
display(HTML(df.isnull().sum().to_frame().to_html()))

In [27]:
df

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,1.0,1,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,1.0,1,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,0.0,0,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,0.0,1,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,0.0,0,"$34,999"
...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,0.0,1,"$349,950"
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,0.0,1,"$53,900"
4006,Porsche,Taycan,2022,"2,116 mi.",Gasoline,Electric,Automatic,Black,Black,0.0,0,"$90,998"
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,0.0,1,"$62,999"
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,1.0,1,"$40,000"

In [32]:
df['milage'] = df['milage'].str.replace(' mi.', '').str.replace(',', '').astype(int)

In [33]:
df['milage']

0       51000
1       34742
2       22372
3       88900
4        9835
        ...
4004      714
4005    10900
4006     2116
4007    33000
4008    43000
Name: milage, Length: 4009, dtype: int32

In [34]:
df['fuel_type'].value_counts()

fuel_type
Gasoline          3526
Hybrid             194
E85 Flex Fuel      139
Diesel             116
Plug-In Hybrid      34
Name: count, dtype: int64

In [36]:
df = pd.get_dummies(df, columns=['fuel_type'], prefix='fuel', drop_first=True)

In [38]:
df.columns

Index(['brand', 'model', 'model_year', 'milage', 'engine', 'transmission',
       'ext_col', 'int_col', 'accident', 'clean_title', 'price',
       'fuel_E85 Flex Fuel', 'fuel_Gasoline', 'fuel_Hybrid',
       'fuel_Plug-In Hybrid'],
      dtype='object')

In [42]:
df

,brand,model,model_year,milage,engine,transmission,ext_col,int_col,accident,clean_title,price,fuel_E85 Flex Fuel,fuel_Gasoline,fuel_Hybrid,fuel_Plug-In Hybrid
0,Ford,Utility Police Interceptor Base,2013,51000,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,1.0,1,"$10,300",True,False,False,False
1,Hyundai,Palisade SEL,2021,34742,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,1.0,1,"$38,005",False,True,False,False
2,Lexus,RX 350 RX 350,2022,22372,3.5 Liter DOHC,Automatic,Blue,Black,0.0,0,"$54,598",False,True,False,False
3,INFINITI,Q50 Hybrid Sport,2015,88900,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,0.0,1,"$15,500",False,False,True,False
4,Audi,Q3 45 S line Premium Plus,2021,9835,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,0.0,0,"$34,999",False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,C / C,Hotspur,0.0,1,"$349,950",False,True,False,False
4005,Audi,S4 3.0T Premium Plus,2022,10900,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,Black,Black,0.0,1,"$53,900",False,True,False,False
4006,Porsche,Taycan,2022,2116,Electric,Automatic,Black,Black,0.0,0,"$90,998",False,True,False,False
4007,Ford,F-150 Raptor,2020,33000,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,Blue,Black,0.0,1,"$62,999",False,True,False,False
4008,BMW,X3 xDrive30i,2020,43000,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,Gray,Brown,1.0,1,"$40,000",False,True,False,False

In [43]:
df['price'] = df['price'].str.replace('$', '').str.replace(',', '').astype(int)

In [46]:
df.columns

Index(['brand', 'model', 'model_year', 'milage', 'engine', 'transmission',
       'ext_col', 'int_col', 'accident', 'clean_title', 'price',
       'fuel_E85 Flex Fuel', 'fuel_Gasoline', 'fuel_Hybrid',
       'fuel_Plug-In Hybrid'],
      dtype='object')

In [47]:
df['ext_col'].value_counts()

ext_col
Black                       905
White                       816
Gray                        496
Silver                      374
Blue                        349
                           ...
Anthracite Blue Metallic      1
Moonlight Cloud               1
Silver Mist                   1
Cirrus Silver Metallic        1
C / C                         1
Name: count, Length: 319, dtype: int64

In [48]:
df = pd.get_dummies(df, columns=['ext_col'], prefix='ext', drop_first=True)

In [49]:
df = pd.get_dummies(df, columns=['int_col'], prefix='int', drop_first=True)

In [50]:
df

,brand,model,model_year,milage,engine,transmission,accident,clean_title,price,fuel_E85 Flex Fuel,...,int_Titan Black / Quarzit,int_Tupelo,int_Very Light Cashmere,int_WHITE,int_Walnut,int_Whisper Beige,int_White,int_White / Brown,int_Yellow,int_–
0,Ford,Utility Police Interceptor Base,2013,51000,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,1.0,1,10300,True,...,False,False,False,False,False,False,False,False,False,False
1,Hyundai,Palisade SEL,2021,34742,3.8L V6 24V GDI DOHC,8-Speed Automatic,1.0,1,38005,False,...,False,False,False,False,False,False,False,False,False,False
2,Lexus,RX 350 RX 350,2022,22372,3.5 Liter DOHC,Automatic,0.0,0,54598,False,...,False,False,False,False,False,False,False,False,False,False
3,INFINITI,Q50 Hybrid Sport,2015,88900,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,0.0,1,15500,False,...,False,False,False,False,False,False,False,False,False,False
4,Audi,Q3 45 S line Premium Plus,2021,9835,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,0.0,0,34999,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,0.0,1,349950,False,...,False,False,False,False,False,False,False,False,False,False
4005,Audi,S4 3.0T Premium Plus,2022,10900,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,0.0,1,53900,False,...,False,False,False,False,False,False,False,False,False,False
4006,Porsche,Taycan,2022,2116,Electric,Automatic,0.0,0,90998,False,...,False,False,False,False,False,False,False,False,False,False
4007,Ford,F-150 Raptor,2020,33000,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,0.0,1,62999,False,...,False,False,False,False,False,False,False,False,False,False
4008,BMW,X3 xDrive30i,2020,43000,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,1.0,1,40000,False,...,False,False,False,False,False,False,False,False,False,False